{% extends "layout.njk" %}

{% block head %}
<title> GYM CONTROL </title>
{% endblock %}

{% block content %}

<div class="home">
    <section class="avatar">

    </section>

    <section class="details">
        <div class="registerBox">
            <a href="/register">SIGN UP</a>
        </div>
    </section>
</div>

{% endblock %}