{% extends "layout.njk" %}

{% block head %}
<title> Instructors </title>
{% endblock %}

{% block content %}

<div class="card">
    <section class="avatar">

    </section>

    <section class="details">

    </section>

</div>

{% endblock %}