@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {

    height: 15vh;
    width: auto;
    filter: drop-shadow( 0 1vh 10px black); 
    color: whitesmoke;
    background-color: #001B2E;   
   
}

.links a, span{

    font-size: 3vh;
    line-height: 10vh;
    text-decoration: none;
    color: #FFFF;
    font-family: 'Roboto';
    transition: color 1s;
}

.links a:hover{
    color:#294C60;
    cursor: pointer;
}


.links   {
   
    text-align: center;
    line-height: 15vh;
   
}

body {

    background-color: #294C60; 


}

/* === HOME === */

.home {

    background: whitesmoke;
    width: 50vw;
    height: 80vh;
    margin: 10vh auto 10vh;
    filter: drop-shadow( 0 1vh 10px rgba(0, 0, 0, 0.5));
    display: grid;
    grid-template-columns: 2fr 3fr;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    align-items: center;
}

.avatar {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    background: url(https://source.unsplash.com/collection/4911432) no-repeat center center / cover;
    
    /* == ANIMAÇÃO DE LOAD==*/

    animation-name: fadeIn;
    animation-duration:  1.3s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn{

    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

.loginBox{

    align-items: center;
    margin: 0 auto;
    font-family: 'roboto';
    align-items: center ;
    padding: 2vh;

}

.loginBox > #container {

    width: 80%;
    margin: 0 auto;
}




.registerBox {
   
    margin: 5vh auto;
    background-color: yellow;
    border-radius: 16px;
    width: 9vw;
    height: 4vh;
    text-decoration: none;
    font-family: 'roboto';
    font-size: 2vh;
    line-height: 4vh;
    align-items: center;
    font-weight: bold;
    padding: 0 auto;
    
}

.registerBox a {
    margin: 0 0 0 2vw;
}



/* ====== INSTRUCTOR CARD ======= */

.card {

    background: whitesmoke;
    width: 50vw;
    height: 80vh;
    margin: 10vh auto 10vh;
    filter: drop-shadow( 0 1vh 10px rgba(0, 0, 0, 0.5));
    display: grid;
    grid-template-columns: 2fr 3fr;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.avatar {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    background: url(https://source.unsplash.com/collection/4911432) no-repeat center center / cover;
    
    /* == ANIMAÇÃO DE LOAD==*/

    animation-name: fadeIn;
    animation-duration:  1.3s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn{

    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

/* == Register Page == */


.banner{

    background: whitesmoke;
    width: 100%;
    height: 20vh;
    margin: 0 auto;

    /* animation */

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.avatar {
    
    height: 100%;
    width: 100%;
    background: url(https://source.unsplash.com/collection/4911432) no-repeat center center / cover;
    
    /* == ANIMAÇÃO DE LOAD==*/

    animation-name: fadeIn;
    animation-duration:  1.3s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn{

    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

.main {

    margin: 0 0 0 0;
    height: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.regForm{

    grid-column: 2/3;
}

.regForm .item {
    padding: 2vh 2vw 2vh;
}



input {

    width: 100%;
    height: 5vh;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
  }

  .item span {

    height: 6vh;
    width: 10vw;
    line-height: 6vh;
    font-size: 12px;
    color: black;
  }
  
 input[type="radio"] {

    display: inline-block;
    line-height: 6vh;
    width: 4vw;
    height: 2vh;
   
 }

 button {

    height: 5vh;
    width: 10vw;
    grid-column: 2/3;
    margin: 4vh 30vw;
 }

    

 